<a id="back-to-top" 
class="font-title hidden z-10 text-sm w-16 h-16 block shadow-lg opacity-90 mr-4 mb-4 
bg-accent1 text-light fixed right-0 bottom-0 block fill-current rounded-full flex justify-center items-center flex-col" href="#"><span class="js-open-icon block mb-1 w-4 h-4">{% include '../../media/icons/chevron-up.svg' %}</span>
Top</a>