<meta property="og:title" content="{{general.site_title}}">
<meta property="og:description" content="{{general.site_description}}">
<meta name="twitter:title" content="{{general.site_title}}">
<meta name="twitter:description" content="{{general.site_description}}">