    {%- for entry in navPages %}
      {% if entry.url != "/publications/" or (entry.url == "/publications/" and bookspage.show_other == false) %}
        {{ renderNavListItem(entry) }}
      {% endif %}
    {%- endfor -%}